/* ROUNDED THEME FOR ROFI */
* {
    bg0:    #0D0D0D;
    bg1:    #2A2A2A; 
    bg2:    #3D3D3D80;
    bg3:    #6A6A6A;
    
    border-color:     #A0A0A0;

    fg0:    #E6E6E6;
    fg1:    #FFFFFF;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import ".config/rofi/template/rounded-template.rasi"
